@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* ダークモード時の設定らしい。 */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* ----- 画面全体のスケーリング設定 ----- */
.scale-root {
  transform-origin: top left;
}

/* スマホ・タブレットだけに適用 */
/* 縦画面 */
@media (max-width: 1024px) and (orientation: portrait) {
  .scale-root {
    --scale: 0.27;
    transform: scale(var(--scale));
    width: calc(100% / var(--scale));
  }
}

/* 横画面 */
@media (max-width: 1024px) and (orientation: landscape) {
  .scale-root {
    --scale: 0.6;
    transform: scale(var(--scale));
    width: calc(100% / var(--scale));
  }
}

/* ------------------------------------ */

/* 全体の基本設定 */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* ito.png の横回転アニメーション（7回転） */
.ito-flip {
  /* animation: ito-flip 5000ms cubic-bezier(0.22, 1, 0.36, 1); */
  animation: ito-flip calc(1s * 4) cubic-bezier(0.22, 1, 0.36, 1);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  will-change: transform;
}

@keyframes ito-flip {
  0% {
    transform: perspective(600px) rotateY(0deg);
  }

  /* X回転(360deg * X) */
  100% {
    transform: perspective(600px) rotateY(calc(360deg * 5));
  }
}